body
{
    font-family: "Source Sans Pro", arial, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    height: 5vw;
    width: 100%;
    background-color: #1a1a00;
}

.avatar {
    width: 30vw;
    height: auto;
    margin: auto;
}

.s3
{
    padding: 3rem 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.s3 article
{
    flex-basis: 20rem;
    text-align: center;
}

img
{
    max-width: 100%;
    max-height: 10rem;
    margin: 1rem 0;
}

.s3 article div
{
    font-size: 1.5rem;
    color: #444;
}

article p
{
    color: #555;
}

.chat {
    background-color: #ff9900;
    width: 60vw;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
  }

  .handle {
    height: 7vh;
    width: 7vw;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 40vw;
  }

  footer {
    background-color: #332200;
    height: auto;
    width: 100%;
    padding: 0.3rem;
    
  }
